:root {
    --borderColor: rgb(106, 122, 153);
    --buttonColor: rgb(80, 90, 222);
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--borderColor);
    padding: 15px;
    gap: 15px;
}

.topbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: var(--buttonColor);
    border-radius: .5em;
    padding: 5px;
    cursor: pointer;
    color: var(--fontColor);
    border: none;
    transition: all .2s;
}

.topbar button:hover {
    filter: brightness(.6);
}

.right{
    display: flex;
    gap: 15px;
}

.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 55px;
    right: 55px;
    padding: 15px;
    background-color: var(--sidebarSettingsBgColor);
    color: var(--fontColor);
    border-radius: .5em;
    box-shadow: 5px 5px 5px black;
}

.settings div{
    display: flex;
    gap: 5px;
}

.date {
    color: white;
}

.main {
    display: flex;
    margin-top: 15px;
    height: 200px;
    gap: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 90vh;
    background-color: var(--borderColor);
    padding: 15px;
    color: rgb(3, 3, 3);
    gap: 55px;
}

.infos div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.diagramms {
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 90vh;
}

.tables {
    display: flex;
    justify-content: center;
    gap: 15px;
overflow-y: auto;
overflow-x: hidden;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
}

table caption {
    background-color: #444c6e;
    border: 1px solid var(--borderColor);
}

table th,
td {
    background-color: rgb(58, 63, 69);
    padding: 15px;
    border: 1px solid var(--borderColor);
    text-align: center;
}

.edit {
    display: flex;
 gap: 15px;
    width: 100%;
    background-color: var(--borderColor);
    padding: 5px;
}

fieldset {
    padding: 15px;
    height: 100%;
}

fieldset *{
width: 100%;
}