.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(121, 128, 142);
    width: 100vw;
    padding: 15px;
    gap: 15px;
}

.topbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: rgb(96, 107, 129);
    border-radius: .5em;
    padding: 5px;
    cursor: pointer;
    color: var(--fontColor);
    border: none;
    transition: all .2s;
}

.topbar button:hover {
    filter: brightness(.6);
}

.main {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

table {
    border-collapse: collapse;
    border-radius: 1em;
}

table caption {
    background-color: #2e4753;
    border: 1px solid #ddd;
}

table th,
td {
    background-color: rgb(26, 33, 39);
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
}

table tr {
    background-color: rgb(113, 120, 131);
}