.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--borderColor);
    padding: 15px;
    gap: 15px;
}

.topbar button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    background-color: var(--buttonColor);
    border-radius: .5em;
    padding: 5px;
    cursor: pointer;
    color: var(--fontColor);
    border: none;
    transition: all .2s;
}

.topbar button:hover {
    filter: brightness(.6);
}

.right {
    display: flex;
    gap: 15px;
}

.main {
    display: flex;
    gap: 50px;
    margin-top: 15px;
    width: 99vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 91vh;
    background-color: var(--borderColor);
    padding: 15px;
    color: rgb(3, 3, 3);
    gap: 55px;
}

.infos div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    position: absolute;
    top: 55px;
    right: 55px;
    padding: 15px;
    background-color: var(--sidebarSettingsBgColor);
    color: var(--fontColor);
    border-radius: .5em;
    box-shadow: 5px 5px 5px black;
}

.mainbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 86vw;
}

.date {
    color: rgb(255, 255, 255);
}

.tables {
    display: flex;
    gap: 15px;
    height: 35vh;
    background-color: var(--borderColor);
    overflow-y: auto;
    overflow-x: hidden;
}

.edit {
    display: flex;
    gap: 15px;
    width: 100%;
    background-color: var(--borderColor);
    padding: 5px;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    padding: 15px;
    height: 100%;
}

fieldset * {
    width: 100%;
}

fieldset button {
    background-color: var(--buttonColor);
    color: var(--fontColor);
    border-radius: .5em;
    border: none;
    padding: 5px;
    cursor: pointer;
    transition: all .2s;
}

fieldset button:hover{
filter: brightness(.6);
}

.bottom {
    display: flex;
    gap: 15px;
    width: 100%;
}
