.accBtn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--mainColor);
    color: rgb(187, 187, 187);
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 5px black;
    transition: all .2s ease-in-out;
}

.accBtn svg {
    width: 25px;
    height: 25px;
}

.accBtn:hover {
    filter: brightness(.6);
}

.accMenu {
    position: fixed;
    right: 5px;
    bottom: 125px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: var(--sidebarSettingsBgColor);
    padding: 10px;
    border-radius: .5em;
    box-shadow: 5px 5px 5px black;
    animation: .2s openSideBar ease-in-out;
}

.accMenu div {
    display: flex;
    justify-content: space-between;
}

.accMenu input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.accMenu fieldset {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 9px;
}

.accMenu fieldset legend {
    color: rgb(159, 159, 159);
}

@keyframes openSideBar {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
}