.headbar{
    position: fixed;
    top: 1px;
    right: 1px;
    display: flex;
    justify-content: end;
    gap: 5px;
    height: 1px;
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    margin-right: 15px;
}

.headbar a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondaryColor);
    border-radius: .5em;
    padding: 15px;
    cursor: pointer;
    color: var(--fontColor);
    border: none;
    transition: all .2s;
}

.headbar a:hover,  .headbar button:hover{    
    cursor: pointer;
    filter: brightness(.6);
}

.anmelden {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    text-decoration: none;
    border-radius: .5em;
    border: none;
    transition: all .2s;
    background-color: var(--mainColor);
    color: var(--fontColorSecondary)
}