.menu{
    background-color: var(--sidebarSettingsBgColor);
      position: fixed;
    top: 25%;
    left: 0%;
    padding: 15px;
    color: var(--fontColor);
    font-size: .9em;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px black;
    animation: .2s openMenu ease-in-out;
}

.menu div{
    display: flex;
}

.prompts {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; 
}

.prompts div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--fontColorSecondary);
}

.tokens {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.tokens div{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--fontColorSecondary);
}

.small{
font-size: .8em;
}

.registered{
  display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--fontColorSecondary);
}

@keyframes openMenu {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
}