.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    bottom: 5vh;
    left: 50vw;
    transform: translateX(-50%);
    width: 50vw;
    box-sizing: border-box;
    border-radius: .5em;
    border: 1px solid var(--mainColor);
    box-shadow: 5px 5px 10px black;
    padding: 15px;
}

.inputHeader {
    display: flex;
    width: 100%;
}

.inputHeader input {
    width: 100%;
    padding: 15px;
    color: var(--fontColor);
    box-sizing: border-box;
    border: none;
    background-color: var(--inputBgColor);
    border-radius: .5em 0 0 .5em;
}

.inputHeader button {
    width: 2vw;
    box-sizing: border-box;
    border-radius: 0 .5em .5em 0;
    border: none;
    color: var(--fontColor);
    background-color: var(--mainColor);
    cursor: pointer;
}

.inputHeader button svg {
    width: 19px;
    height: 19px;
}

.inputHeader input:focus {
    outline: none;
}

.inputHeader button:disabled {
    background-color: var(--disabledColor);
    color: rgb(99, 99, 99);
}

.inputFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputFooterLeft {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inputFooterRight {
    display: flex;
    align-items: center;
    gap: 5px;
}

.inputFooter select {
    background-color: var(--inputBgColor);
    color: var(--fontColor);
    width: 9vw;
    padding: .2em;
    border-radius: .5em;
    cursor: pointer;
}

.loading {
    background:
        linear-gradient(var(--backgroundColor), var(--backgroundColor)) padding-box,
        radial-gradient(circle at left center,
            rgb(255, 55, 0),
            #d0ff00,
            #d9fcff,
            #0055ff,
            rgb(234, 0, 255)) border-box;

    border: 2px solid transparent;
    background-size: 100% 100%, 200% 100%;
    background-position: center, left center;
    animation: gradientMove .9s ease-in-out infinite alternate;
    box-shadow: 0 0 15px rgb(0, 166, 255);
}


@keyframes gradientMove {
    to {
        background-position: center, 100% center;
    }
}