.modalBg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 100;
}


.modal {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    background-color: var(--sidebarSettingsBgColor);
    border-radius: .5em;
    background-origin: padding-box;
    z-index: 100;
    box-shadow: 10px 10px 15px black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--mainColor);
    border-radius: .5em .5em 0 0; 
}

.title {
    color: rgb(255, 255, 255);
}

.close button {
    background-color: rgb(255, 109, 109);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5em;
    border: none;
    transition: all .2s;
}

.close button:hover {
    cursor: pointer;
    filter: brightness(.6);
}

.close svg {
    width: 25px;
    height: 25px;
}

.content {
    padding: 15px;
    height: 100%;
    font-size: .95em;
}

.content ul {
    list-style-position: inside;
    margin-top: 15px;
}

.content li {
    margin-bottom: 10px;
}

.content a:link, .content a:visited
{
    color: #6bb5fe;
    text-decoration: none;
}

.hinweis {
    background-color: #ffe06f;
    color: #000000;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: .5em;
}
