.moreFeatures {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--fontColor);
    padding: 5px 10px;
    border: 1px solid var(--mainColor);
    border-radius: .2em
}

.moreFeatures:hover {
    cursor: pointer;
    filter: brightness(.6);
    transition: all .2s
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    position: absolute;
    top: 2%;
    left: 1%;
    padding: 15px;
    background-color: var(--sidebarSettingsBgColor);
    color: var(--fontColor);
    border-radius: .5em;
    font-size: .9em;
    box-shadow: 5px 5px 5px black;
    animation: .2s moveUp ease-in-out;
}

.temperature {
    color: var(--fontColor);
    background-color: var(--inputBgColor);
    border-radius: .5em;
    cursor: pointer;
    padding: .2em;
}