  

.output {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 82vh;
  scroll-behavior: smooth;
  overflow: auto;
  scrollbar-color: gray black;
  padding-top: 15px;
  padding-bottom: 15px;
}

.output div {
  width: 100%;
  line-height: 1.1em;
}

.output div pre {
  width: 50%;
  margin: auto;
  white-space: pre-wrap;
  border: 1px solid rgb(104, 104, 104);
  border-radius: .5em;
  padding: 5px;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeIn .5s ease-in-out forwards;
}

.output div:nth-child(odd) pre {
  background-color: var(--outputUserBgColor);
  text-align: end;
}

.preloader {
  text-align: center;
  padding: 6px;
}

.preloader span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px;
  background-color: var(--mainColor);
  opacity: 0;
  animation: preloader .45s ease-in-out infinite alternate;
}

.preloader span:nth-child(1) {
  animation-delay: 0.2s;
}

.preloader span:nth-child(2) {
  animation-delay: 0.4s;
}

.preloader span:nth-child(3) {
  animation-delay: 0.6s;
}

.greeting {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--fontColor);
}

.tokens {
font-size: .9em;
color: rgb(113, 123, 171);
}

@keyframes fadeIn {
  to {opacity: 1;}
}

@keyframes preloader {
to{
    opacity: 1;
     transform: translateY(5px);
  }
}