.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondaryColor);
    position: fixed;
    left: 0px;
    height: 100vh;
    font-size: .9em;
    padding: 15px;
    transition: all .2s ease-in-out;
}

.sidebarBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: var(--mainColor);
    color: rgb(187, 187, 187);
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 5px black;
    transition: all .2s ease-in-out;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.footer {
     display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}


button svg {
    width: 19px;
    height: 19px;
    color: var(--fontColor);
}

.sidebar button:hover {
   filter: brightness(.6);
}

.sidebar a {
    text-decoration: none;
}

.icon {
    width: 55px;
    height: auto;
    display: block;
}

.tokenInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: .5em;
    padding: 2px;
}

.settings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
    position: fixed;
    left: 5px;
    bottom: 55px;
    width: 15vw;
    background-color: var(--sidebarSettingsBgColor);
    color: var(--fontColor);
    border-radius: .5em;
    padding: 15px;
    font-size: .9em;
    box-shadow: 5px 5px 5px black;
    animation: .2s openSideBar ease-in-out;
}

.settings button{
    padding: 5px;
    background-color: var(--sidebarSettingsBgColor);
    color: var(--fontColor);
     border: none;
}

.settings button:hover {
cursor: pointer;
}

@keyframes openSideBar {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
}