.sidebar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--secondaryColor);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    font-size: .9em;
    padding: 10px;
    transition: all .2s ease-in-out;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.icon {
    width: 55px;
    height: auto;
    display: block;
    margin-bottom: 50px;
}

.sidebarBtn {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    color: var(--fontColor);
    background-color: transparent;
    cursor: pointer;
    border: none;
    transition: all .2s ease-in-out;
    width: 100%;
}

.sidebarBtn:hover {
    border-radius: .5em;
    color: var(--mainColor);
}

.sidebarBtn svg {
    width: 19px;
    height: 19px;
    color: var(--mainColor);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.sidebar a {
    text-decoration: none;
}

.settings {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    position: fixed;
    left: 5px;
    bottom: 65px;
    width: 15vw;
    background-color: var(--sidebarSettingsBgColor);
    color: var(--fontColor);
    border-radius: .5em;
    padding: 15px;
    font-size: .9em;
    box-shadow: 5px 5px 5px black;
    animation: .2s openSideBar ease-in-out;
}

.settingsBtn {
    color: var(--fontColor);
    background-color: transparent;
    padding: 5px;
    border: none;
    border-radius: .5em;
}

.settingsBtn:hover {
    cursor: pointer;
    background-color: var(--secondaryColor);
}

@media (max-width: 640px) {
    .sidebar {
        width: 50px;
    }

    .icon {
        visibility: hidden;
    }

    .sidebarBtnSpan {
        display: none;

    }
}

@keyframes openSideBar {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
}