* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --mainColor: rgb(153, 181, 150);
  --secondaryColor: #151515;
  --fontColor: rgb(255, 255, 255);
  --fontColorSecondary: rgb(201, 201, 201);
  --backgroundColor: rgb(29, 29, 29);
  --outputUserBgColor: rgb(49, 49, 49);
  --inputBgColor: rgb(30, 29, 29);
  --sidebarSettingsBgColor: rgb(36, 38, 39);
  --sidebarSettingsHoverBgColor: rgb(19, 19, 19);
  --disabledColor: rgb(49, 49, 49);
}

[data-theme="light"] {
  --mainColor: rgb(190, 239, 255);
  --secondaryColor: rgb(206, 217, 225);
  --fontColor: rgb(64, 64, 64);
  --backgroundColor: rgb(255, 255, 255);
  --outputUserBgColor: rgb(145, 145, 145);
  --inputBgColor: rgb(220, 220, 220);
  --sidebarSettingsBgColor: rgb(220, 220, 220);
  --sidebarSettingsHoverBgColor: rgb(236, 236, 236);
  --disabledColor: rgb(202, 202, 202);
}

[data-theme="contrast"] {
  --mainColor: rgb(0, 0, 0);
  --mainColorDarker: color-mix(in srgb, var(--maincolor) 85%, black);
  --fontColor: rgb(255, 255, 255);
  --backgroundColor: rgb(43, 43, 43);
  --outputUserBgColor: rgb(145, 145, 145);
  --inputBgColor: rgb(220, 220, 220);
  --secondaryColor: rgb(200, 200, 200);
  --sidebarSettingsBgColor: rgb(220, 220, 220);
  --sidebarSettingsHoverBgColor: rgb(125, 125, 125);
  --disabledColor: rgb(202, 202, 202);
}

/* .tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip:hover {
  z-index: 100;
}

.tooltip:after {
  content: attr(data-tooltip);
  visibility: hidden;
  position: absolute;
  background-color: var(--sidebarSettingsBgColor);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  left: 1;
  bottom: -25px;
  width: max-content;

}

.tooltip:hover::after {
  animation: slideIn .2s ease-in-out .5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    visibility: visible;
  }
} */