* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --mainColor: rgb(16, 197, 170);
  --fontColor: rgb(240, 240, 240);
  --backgroundColor: rgb(24, 31, 45);
  --outputUserBgColor: rgb(49, 49, 49);
  --inputBgColor: rgb(16, 15, 15);
  --sidebarBgColor: rgb(44, 52, 57);
  --sidebarControlColor: rgb(44, 44, 44);
  --sidebarSettingsBgColor: rgb(36, 38, 39);
  --sidebarSettingsHoverBgColor: rgb(78, 78, 78);
  --disabledColor: rgb(60, 60, 60);
}

[data-theme="light"] {
  --mainColor: rgb(148, 148, 148);
  --fontColor: rgb(24, 31, 45);
  --backgroundColor: rgb(207, 207, 207);
  --outputUserBgColor: rgb(145, 145, 145);
  --inputBgColor: rgb(220, 220, 220);
  --sidebarBgColor: rgb(164, 164, 164);
  --sidebarControlColor: rgb(96, 96, 96);
  --sidebarSettingsBgColor: rgb(220, 220, 220);
  --sidebarSettingsHoverBgColor: rgb(96, 96, 96);
  --disabledColor: rgb(200, 200, 200);
}